@import 'Head';

.overview-widget {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 72vw;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family: $MainFont;
  font-size: $FontXL;
}

// Style Selector Begins

.style-grid {
  display: grid;
  grid-template-rows: 6vw 6vw;
  grid-template-columns: 6vw 6vw 6vw 6vw;
  row-gap: .15vw;
  column-gap: .15vw;
}

.style-grid-image {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  width: 5vw;
  height: 5vw;
  border: 1px solid $ColorMediumGray;
}

.style-grid-item-checkmark {
  display: block;
  position: absolute;
  z-index: 1;
  width: 1.75vw;
  transform: translateX(210%) translateY(-30%)
}

.style {
  font-family: $MainFont;
  font-weight: bold;
  font-size: $FontM;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 1vw;
}

.style-name {
  font-family: $MainFont;
  font-weight: normal;
  font-size: $FontM;
}

.style-grid-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.style-grid-arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

// Style Selector Ends

// Image Gallery Contents Begins

.image-gallery-item {
  padding-top: 10%;
}

.image-gallery-thumbnail {
  border-radius: 0%;
  object-fit: cover;
  width: 4vw;
  height: 4vw;
}

.thumbnail-selection {
  height: 0px;
  width: 6vw;
  border: 1px solid black;
}

.image-gallery-grid {
  object-fit: contain;
  z-index: 2;
}

div.image-gallery-scroll-up img {
  width: 2vw;
}

div.image-gallery-scroll-down img {
  width: 2vw;
}

.image-gallery-thumbnail-column {
  align-self: flex-start;
  margin-left: 1vw;
  margin-right: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-gallery-main-image {
  object-fit: contain;
  width: 90%;
  cursor: zoom-in;
  display: block;
  margin: auto;
}

.image-gallery-main-image-box {
  width: inherit;
  position: relative;
  left: 0%;
}

.image-gallery-main-box {
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

// Image Gallery Ends

// Overview Top Element Begins

.overview-main-box {
  display: flex;
}

// Overview Top Element Ends

// Image Gallery Box Begins

.overview-left-box {

  width: 55%;
  padding-right: 1%;
  z-index: 2;
}

// Image Gallery Box Ends

// Product Info, Style Selector & Add to Cart Top Level Begins

.overview-right-box {
  margin-left: 1.5VW;
  width: 45%;
  z-index: 1;
}

// Product Info, Style Selector & Add to Cart Top Level Ends

// Arrows Begins

.right-arrow,
.left-arrow {
  width: 1.5vw;
  height: 1vw;
}

.right-arrow-box {
  margin-left: -1vw;
  z-index: 1;
}

.left-arrow-box {
  margin-right: -1vw;
  z-index: 1;
}

.image-gallery-expand {
  align-self: flex-start;
}

.expand-icon {
  width: 1.5vw;
  height: 1.5vw;
}

// Product Begins

.product-information-star-review-box {
  display: flex;
}

.product-information-review {
  margin-left: 2%;
  font-family: $MainFont;
  font-size: $FontS;
  color: $ColorDarkGray;
}

.product-category {
  font-family: $MainFont;
  font-size: $FontM;
  color: $ColorDarkGray;
  margin-block-end: 0em;
}

.product-name {
  font: $MainFont;
  font-size: $FontXL;
  color: $ColorDarkGray;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.price {
  font-family: $MainFont;
  font-size: $FontM;
  font-weight: normal;
  color: $ColorExtraDarkGray;
}

.sale-price {
  font-family: $MainFont;
  font-weight: bold;
  font-size: $FontM;
  color: red;
}

.product-description {
  font-family: $MainFont;
  font-weight: normal;
  font-size: $FontS;
  color: $ColorExtraDarkGray;
  margin-bottom: 2vw;
}

// Product Ends

//Add to cart Begins

.add-cart-container {
  margin-top: 1vw;
}

.size-selector {
  display: inline-block;
  border: 1px solid $ColorExtraDarkGray;
  margin-right: 1vw;
  width: 14vw;
  height: 3vw;
  background-color: white;
  font-family: $MainFont;
  font-size: $FontS;
  font-weight: bold;
}

.quantity-selector {
  display: inline-block;
  border: 1px solid $ColorExtraDarkGray;
  width: 8.5vw;
  height: 3vw;
  background-color: white;
  font-family: $MainFont;
  font-size: $FontS;
  font-weight: bold;
}

.add-to-bag {
  display: inline-block;
  border: 1px solid $ColorExtraDarkGray;
  width: 23.5vw;
  height: 2.5vw;
  background-color: white;
  font-family: $MainFont;
  font-size: $FontM;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5vw;
}

//Add to cart Ends
